<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 footer-widget footer-about">
                    <h3 class="widget-title">Nuestra Empresa</h3>
                    <img loading="lazy" width="200px" class="footer-logo" src="images/footer-logo.png" alt="MudanzasFC">
                    <p>Somos tu aliado para empezar un nuevo capítulo. hacemos de tu mudanza a cualquier lugar de Colombia una experiencia tranquila y positiva.</p>
                    <!-- <div class="footer-social">
                        <ul>
                        <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                                class="fab fa-instagram"></i></a></li>
                        <li><a href="https://github.com/themefisher" aria-label="Github"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>Footer social end -->
                </div><!-- Col end -->

                <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
                    <h3 class="widget-title">Nuestros horarios</h3>
                    <div class="working-hours">
                        Trabajamos 7 días a la semana. Contáctenos si tiene una emergencia a través de nuestra línea directa y formulario de contacto.
                        <br><br> Lunes - Viernes:<span class="text-right"> 8:00 am - 5:00 pm </span>
                        <br> Sabados: <span class="text-right"> 8:00 am - 12:00 pm</span>
                        <br> Domingos y Festivos: <span class="text-right"> 9:00 am - 12:00 pm</span>
                    </div>
                </div><!-- Col end -->

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
                    <h3 class="widget-title">Nuestros Servicios</h3>
                    <ul class="list-arrow">
                        <li><a href="service-residential.html">Mudanzas Residenciales</a></li>
                        <li><a href="service-corporate.html">Mudanzas Corporativas</a></li>
                        <li><a href="service-integral.html">Servicios Integrales</a></li>
                    </ul>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
            <div class="copyright-info">
                <span>Copyright &copy; 
                <script>
                    document.write(new Date().getFullYear())
                </script>, Mudanzas FC | Todos los derechos reservados | Desarrollado por <a href="https://Ikhodic.com" target="_blank" class="developer-link">ikhodi consultores.</a></span>
            </div>
            </div>

            <div class="col-md-5">
            <div class="footer-menu text-center text-md-right">
                <ul class="list-unstyled">
                <li><a href="about.html">Nosotros</a></li>
                <li><a href="services.html">Servicios</a></li>
                <li><a href="faq.html">Preguntas Frecuentes</a></li>
                <li><a href="quote.html">Cotizaciones</a></li>
                </ul>
            </div>
            </div>
        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
            <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
            </button>
        </div>

        </div><!-- Container end -->
    </div><!-- Copyright end -->
</footer><!-- Footer end -->