<header id="header" class="header-one">
    <div class="bg-white">
        <div class="container">
            <div class="logo-area">
                <div class="row align-items-center">
                    <div class="logo col-lg-1 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                        <a class="d-block" href="index.html">
                        <img loading="lazy" src="images/logo.png" alt="Mudanzas FC" width="150" height="36"/>
                        </a>
                    </div><!-- logo end -->
        
                    <div class="col-lg-11 header-right">
                        <ul class="top-info-box">
                        <li>
                            <div class="info-box">
                                
                                <div class="info-box-content">
                                    <a class="info-box-title" href="tel:+573124092711"><i class="fas fa-phone me-3"></i> &nbsp; Llamanos</a>
                                    <br>
                                    <a class="info-box-subtitle" href="tel:+573124092711">(+57) 312-409-2711</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="info-box">
                                <div class="info-box-content">
                                    <a class="info-box-title" href="mailto:operaciones@Mudanzasfc.com"><i class="fas fa-envelope me-3"></i> &nbsp; Escribenos</a>
                                    <br>
                                    <a class="info-box-subtitle" href="mailto:operaciones@Mudanzasfc.com">operaciones@Mudanzasfc.com</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="info-box">
                                <div class="info-box-content">
                                    <p class="info-box-title"> <i class="fas fa-map-marker-alt me-3"></i> &nbsp; Visitanos</p>
                                    <p class="info-box-subtitle"> <a href="https://www.google.com/maps/place/Calle+129+%2391B-33,+Bogot%C3%A1,+Colombia/@4.649222,-74.062889,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f99f20f923333:0x7f9f2f2f2f2f2f2f!8m2!3d4.649222!4d-74.0606997" target="_blank">Calle 129 #91b-33, Bogotá</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="header-get-a-quote">
                            <a class="btn btn-primary" style="color: black;" href="quote.html"><i class="fas fa-calculator me-2"></i> &nbsp; ¡Cotiza ahora!</a>
                        </li>
                        </ul><!-- Ul end -->
                    </div><!-- header right end -->
                </div><!-- logo area end -->
        
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div>

    <div class="site-navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-dark p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div id="navbar-collapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav mx-auto">

                                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

                                <li class="nav-item"><a class="nav-link" href="services.html">Servicios</a></li>

                                <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>

                                <li class="nav-item"><a class="nav-link" href="faq.html">Preguntas frecuentes</a></li>
                        
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>

                            </ul>
                        </div>
                    </nav>
                </div>
            <!--/ Col end -->
            </div>
            <!--/ Row end -->
        </div>
        <!--/ Container end -->
    </div>
    <!--/ Navigation end -->
</header>