<meta charset="utf-8">
<title>Mudanzas FC - Dentro y fuera de la ciudad.</title>
<meta name="description" content="Mudanzas FC - Empresa de mudanzas dentro y fuera de la ciudad, nacional e internacional. Servicios de embalaje, empaque, bodegaje, almacenamiento y seguros de transporte.">
<meta name="author" content="Ikhodi consultores">
<meta name="keywords" content="mudanzas, mudanza, fletes, transporte, bogota, colombia, dentro, fuera, ciudad, nacional, internacional, embalaje, empaque, embalajes, empaques, bodegaje, bodegas, almacenamiento, seguros, seguros de transporte">

<!-- Mobile Specific Metas
================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Mudanzas FC - Empresa de mudanzas dentro y fuera de la ciudad, nacional e internacional. Servicios de embalaje, empaque, bodegaje, almacenamiento y seguros de transporte.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta name=author content="Ikhodi consultores">
<meta name="keywords" content="mudanzas, mudanza, fletes, transporte, bogota, colombia, dentro, fuera, ciudad, nacional, internacional, embalaje, empaque, embalajes, empaques, bodegaje, bodegas, almacenamiento, seguros, seguros de transporte">

<!-- Favicon
================================================== -->
<link rel="icon" type="image/png" href="theme/images/favicon.ico">